		div.block {
			width: 50px;
			height: 50px;
			display: inline-block;
			background-size: contain;
			color: #fff;
		}

		div#map {
			background: #8cbffb;
			line-height: 0;
			margin: 0 auto;
			box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.8);
			position: relative;
		}



		.block:hover {
			-webkit-box-shadow: 0px 0px 1px 2px #ffffff;
			-moz-box-shadow: 0px 0px 1px 2px #ffffff;
			box-shadow: 0px 0px 1px 2px #ffffff; 
		}

		.inventory-container {
			position: fixed;
			right: 0;
			width: 60px;
			top: 0;
		}

		.tools-container {
			position: fixed;
			top: 0;
			left: 0;
		}

		.reset img {
			-webkit-animation:spin 0.2s ease-in-out;
			-moz-animation:spin 0.2s ease-in-out;
			animation:spin 0.2s ease-in-out;
			animation-fill-mode: forwards;
		}

		@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
		@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
		@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


		.buttons-container {
			position: fixed;
			bottom: 0;
			left: 0;
		}

		.bgholder > div > img {
			width: 100%;
			padding: 7px;
		}

		.bgholder {
			cursor: pointer;
		}

		.bgholder > div {
			display: inline-block;
			width: 60px;
			height: 60px;
			background-size: contain;
			background-image: url('images/slot.png');
			background-size: contain;
		}

		.bgholder > .active {
			box-shadow: inset 0 0 0 7px rgba(255,255,255,.5);

		}

		div#buttons {
			background: #c1ffc3;
			padding: 20px;
		}

		.hello {
    position: fixed;
    background: rgba(255, 255, 255, 0.88);
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

		.animate
		{
			transition: all 0.1s;
			-webkit-transition: all 0.1s;
		}

		.action-button:active
		{
			transform: translate(0px,5px);
			-webkit-transform: translate(0px,5px);
			border-bottom: 1px solid;
		}

		.action-button
		{
			 outline:none;
			position: relative;
			padding: 10px 40px;
			border-radius: 10px;
			font-family: 'Pacifico', cursive;
			font-size: 25px;
			color: #FFF;
			text-decoration: none;	
		}

		.blue
		{
			background-color: #3498DB;
			border-bottom: 5px solid #2980B9;
			text-shadow: 0px -2px #2980B9;
		}

		.logoHolder {
			width: 80%;
			margin: 0 auto;
		}

		.logoHolder img{
			width: 100%;
		}

		.start {
			text-align: center;
		}

		.inv span {
			font-size: 1.5em;
			color: #fff;
			text-align: right;
			display: block;
			margin-top: -16px;
			margin-right: 8px;
		}