		div.block {
			width: 50px;
			height: 50px;
			display: inline-block;
			background-size: contain;
			color: #fff;
		}

		div#map {
			background: #8cbffb;
			margin: 0 auto;
			line-height: 0;
		}
		.block:hover {
			-webkit-box-shadow: 0px 0px 1px 2px #ffffff;
			-moz-box-shadow: 0px 0px 1px 2px #ffffff;
			box-shadow: 0px 0px 1px 2px #ffffff; 
		}